<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=storagerepositorydemo;AccountKey=qKClGJuh6XivPsP8yB5qqd5NpmbpVyQEAwVdl+P+9mriod1TyjuxD0akPuVjUGOzxOonyl4NuUUdHQBT8V/HMQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>